<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs'); -%>
  </head>
  <body>
    <div class="header">
      <div class="LHSheader">
          <div class="logo">
              <img src="/public/img/IMSlogo.png" alt="IMSlogo" width="80vmax">
          </div>
          <div class="companyName">
            <a href="/apps" style="text-decoration:none;"><h1>iDiDit</h1></a>
          </div>
          
      </div>
      <div class="RHSheader">
        <div>
          <a href="/apps"><img class="icon" src="/public/img/homeIcon.png" alt="HomeIcon" width="35"></a>
        </div>
        <div>
          <a href="#"><img class="icon" src="/public/img/userIcon.png" alt="UserIcon" width="25"></a>
        </div>
        <div>
          <form action="/sessions?_method=DELETE" method="POST">
            <button type="submit" class="logout"><img class="icon" src="/public/img/logout.png" alt="logout" width="30"></button>
          </form>
        </div>
      </div>
    </div>  

    <div class="subsplash">
      <div class="boxContainer">
        <div class="row1">
          <div class="box">
            <a href="/apps/add"><img src="/public/img/new.png" class="cardpics" alt="Add new tool"></a>
          </div>
          <div class="box">
            <a href="/apps/list"><img src="/public/img/inventory.png" class="cardpics" alt="View Inventory"></a>
          </div>
        </div>
        
        <!-- <div class="row2">
          <div class="box">
            <a href="#"><img src="/public/img/OrderForm.png" class="cardpics" alt="Create Order Form"></a>
          </div>
          <div class="box">
            <a href="#"><img src="/public/img/users.png" class="cardpics" alt="View Users"></a>
          </div>
        </div> -->
      </div>
    </div>
    

  </body>
</html>