<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs'); -%>
    
  </head>
  <body>
        <div class="header">
            <div class="LHSheader">
                <div class="logo">
                    <img src="/public/img/IMSlogo.png" alt="IMSlogo" width="80vmax">
                </div>
                <div class="companyName">
                    <a href="/apps" style="text-decoration:none;"><h1>iDiDit</h1></a>
                </div>
                
            </div>
            <div class="RHSheader">
                <div>
                    <a href="/apps"><img class="icon" src="/public/img/homeIcon.png" alt="HomeIcon" width="35"></a>
                </div>
                <div>
                    <a href="/sessions/<%= user._id %>"><img class="icon" src="/public/img/userIcon.png" alt="UserIcon" width="25"></a>
                </div>
                <div>
                <form action="/sessions?_method=DELETE" method="POST">
                    <button type="submit" class="logout"><img class="icon" src="/public/img/logout.png" alt="logout" width="30"></button>
                </form>
                </div>
            </div>
        </div>  

        <div class="subsplash">
            <div class="toolForms">
                <div class="returnDiv">
                    <a class="button returnbuttons" href="/apps" style="text-decoration:none;"><h4>BACK</h4></a>
                </div>
                
                <form action="/apps/list" method="POST">
                    
                    <div class="row1">
                        <div class="toolInputText">
                            <label for="name">Tool Name</label>
                            <input class="toolInput" type="text" name="name" placeholder="screw driver" id="name">
                        </div>
    
                        <div class="toolInputText">
                            <label for="type">Type of Tools</label>
                            <select class="toolInput" name="type" id="type">
                            <option value="Power Tools">Power Tools</option>
                            <option value="HandHeld Tools">HandHeld Tools</option>
                            <option value="PPE">PPE</option>
                            </select>
                        </div>
                    </div>
                    
        
                    <div class="row2">
                        <div class="toolInputText">
                            <label for="qty">Quantity</label>
                            <input class="toolInput" type="number" name="qty" placeholder="5" id="qty">
                        </div>
                        <div class="toolInputText">
                            <label for="price">Price</label>
                            <input class="toolInput" type="number" name="price" placeholder="8" id="price">
                        </div>
                    </div>
                    
    
                    <button class="submit" type="submit"> Create Tool </button> 
                </form>
            </div>
        </div>
  </body>
</html>