<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('/mnt/c/Users/radic/projects/inventory-system/views/partials/head.ejs'); -%>
  </head>
  <body>
  
    <!-- The above form looks like this -->
    <form action="/apps/list" method="POST">
        <div class="row">
            <div class="six columns">
                <label for="name">Tool Name</label>
                <input class="u-full-width" type="text" name="name" placeholder="screw driver" id="name">
            </div>
            <div class="six columns">
                <label for="type">Type of Tools</label>
                <select class="u-full-width" name="type" id="type">
                <option value="Power Tools">Power Tools</option>
                <option value="HandHeld Tools">HandHeld Tools</option>
                <option value="PPE">PPE</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="qty">Quantity</label>
                <input class="u-full-width" type="number" name="qty" placeholder="5" id="qty">
            </div>
            <div class="six columns">
                <label for="price">Price</label>
                <input class="u-full-width" type="number" name="price" placeholder="8" id="price">
            </div>
        </div>
        <input class="button-primary" type="submit" value="Add Tool">
    </form>
    
    <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->
    
    <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->

  </body>
</html>