<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); -%>
  </head>
  <body>
    <div class="header">
      <div class="LHSheader">
        <div class="logo">
          <img src="/public/img/IMSlogo.png" alt="IMSlogo" width="80vmax">
        </div>
        <div class="companyName">
          <a href="/" style="text-decoration:none;"><h1>iDiDit</h1></a>
        </div>
      </div>
    </div>
    <div class="subsplash">
        <div class="accountForms">
            <h4 >Invalid Username or Password</h4>
            <h4 >Click <a href="/sessions/new">here</a> to try login again</h4>
            <h4 >Click <a href="/users/new">here</a> to sign up for new account</h4>
        </div>
    </div>
  </body>
</html>