<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs'); -%>
  </head>
  <body>
    <div class="header">
      <div class="LHSheader">
        <div class="logo">
          <img src="/public/img/IMSlogo.png" alt="IMSlogo" width="80vmax">
        </div>
        <div class="companyName">
          <h1>iDiDit</h1>
        </div>
      </div>
    </div>
    <div class="subsplash">

      <form class="accountForms" action="/sessions" method="POST">
        <div class="accInputText">
          <input placeholder="Username" id="username" type="text" class="accountInput" name="username" required>
          <input placeholder="Password" id="password" type="password" class="accountInput" name="password" required>
        </div>

        <button class="submit" type="submit">Log In</button>
      </form>

    </div>
      
  </body>
</html>